/***********************************ALL IMAGES*********************************/
body {
  background-color: white;
  margin: 0;
  text-align: center;
}
p {
  line-height: 2;
}
hr {
  border-style: dotted;
  margin: 100px auto;
  border-color: grey;
  border-bottom: none;
  border-width: 4px;
  width: 4%
}
a {
  color: #11999E;
  padding: 0 20px;
  text-decoration: none;
}
a:hover {
  color: pink;
}
/***********************************ALL CONTAINERS*****************************/

.intro {
  width: 50%;
  margin: auto;
}
.second {
  width: 50%;
  margin: auto;

}
.top-container {
  background-color: powderblue;
  position: relative;

}
.footer{
background-color: lavender;
padding: 50px 0 20px;
margin-top: 20px;
}
/* .tip {
width: 100%;
background-color: black;
}
.tap {
width: 50%;
} */
/***********************************ALL IMAGES*********************************/

.cloud {
  position: absolute;
  height: 4.375rem;
  right: 400px;
  top: 35px;
}
.skill1 {
  width: 25%;
  border-radius: 100%;
  margin-right: 30px;
  float: left;
}
.skill2 {
  background-color: black;
  width: 25%;
  border-radius: 100%;
  margin-left: 30px;
  float: right;
}
.skill-row2 {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.suncloud{
  position: absolute;
  left: 100px;
  top: 0;
  height: 130px;
}
.john-img {
  width: 30%;
  border-radius: 100%;
  margin-top: 60px;
}
.field {

  bottom: 0;
  height: 250px;
  width: 100%;
  left: 0;
}
.tree1 {
  position: absolute;
  left: 5px;
  top: 212px;
}

.tree {
  position: absolute;
  top: 230px;
  left: 1150px;
}
/***********************************ALL HEADINGS*******************************/

h1 {
  font-size: 5.625rem;
  margin-top: 0;
  padding-top: 80px;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  color: #66BFBF

}
h2 {
  font-family: 'Montserrat' sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  margin-bottom: 70px;

}
h3 {
  font-family: 'Montserrat' sans-serif;
  color: #11999E
}

/***********************************ALL IMAGES*********************************/
.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #2980b9);
  background-image: -moz-linear-gradient(top, #000000, #2980b9);
  background-image: -ms-linear-gradient(top, #000000, #2980b9);
  background-image: -o-linear-gradient(top, #000000, #2980b9);
  background-image: linear-gradient(to bottom, #000000, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: powderblue;
  background-image: -webkit-linear-gradient(top, powderblue, #d925d9);
  background-image: -moz-linear-gradient(top, powderblue, #d925d9);
  background-image: -ms-linear-gradient(top, powderblue, #d925d9);
  background-image: -o-linear-gradient(top, powderblue, #d925d9);
  background-image: linear-gradient(to bottom, powderblue, #d925d9);
  text-decoration: none;
}
